@media only screen and (max-width: 600px) {

    #header{
     width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
   
  
  }
  #header .nav-bar{
    width: 100%;
    height: 40px;
    font-size: 4px;
     position: absolute;
  
  
  }
  #header .nav-bar .menu ul{
    width: 100%;
    height: 100%;
    font-size: 4px;
     position: absolute;
     bottom: 0px;
     top: 20px;
  
  }
  #header .nav-bar .menu ul li{
    padding-top: 10px!important;
  
  }
  #header .nav-bar .menu ul li a{
    font-size: 14px !important;
     
  }
  #header .nav-bar .menu ul li span{
    display: none;
  }
  #header .nav-bar .social-media{
   position: absolute;
   bottom: 0px;
   right: 15px;
  }
  #header .nav-bar .social-media ul li i{
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
   font-size: 10px !important;
  }
  .meet_team p{
    position: absolute;
    top: 17%!important;
     left: 10%!important;
     font-size: 40px!important;
     font-weight: 600;
     color: orange;
  }
  .meet_team h4{
    position: absolute;
    /*border: 1px solid red;*/
    top: 24%!important;
     left: 12%!important;
     font-size: 16px!important;
     color: white;
     width: 75%!important;
     padding-right: 20px!important;
  
  }
  .team_grid{
    position: absolute;
    top: 40%;
    left: 0%!important;
    display: flex!important;
   flex-direction: column!important;
   width: 100%!important;
  
  
  }
  .team_grid .team_member img{
    height: 140px!important;
    width: 140px!important;
   position: absolute;
   left: 26%;
  }
  
  .team_grid .team_member{
   
    box-shadow: 0px 0px 5px 5px #787878;
    transition: 0.5s;
    width: 100%!important;
    min-height: 250px;
  
  }
  .team_grid .team_member:hover{
   
    transform: scale(1.01);
  
  }
  .team_grid .team_member .name{
    font-size: 23px; 
    color: grey;
    text-align: center;
    font-weight: 600;
    margin-top: 170px!important;
    margin-left: 20px;
  }
  .team_grid .team_member .intro{
    font-size: 18px; 
    color: white;
    text-align: center;
    margin-top: 10px;
   
  }
  .team_grid .team_member .icons{
    display: flex;
    justify-content: center;
    margin-top: 0px!important;
  }
  .team_grid .team_member .icons .fb{
    padding: 20px 20px;
    font-size: 18px;
  }
  .team_grid .team_member .icons .twitter{
    padding: 20px 20px;
    font-size: 18px;
  }
  .team_grid .team_member .icons .li{
    padding: 20px 20px;
    font-size: 18px;
  }
  .team_grid .team_member .icons .insta{
    padding: 20px 20px;
    font-size: 18px;
  }
  
  
  
  
  
  }
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  
  a,a:hover{
    text-decoration: none;
    color: #fff;
  }
  
  ul{
    list-style: none;
  }
  
  li{
    display: inline-block;
  }
  
  #header{
    width: 100%;
    height: 100vh;
    background: #26284e;
    background-image: url({% static 'img/homepagepng/bg.png'%});
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
     font-family: 'Montserrat', sans-serif;
  }
  
  #header .nav-bar{
    width: 90%;
    height: 80px;
    margin: auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
  }
  
  #header .nav-bar .logo{
    margin-left: 50px;
  }
  
  #header .nav-bar .logo a{
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
  }
  
  #header .nav-bar .logo span{
    font-size: 35px;
    color: #d43242;
    margin-left: 5px;
  }
  
  #header .nav-bar .menu ul li{
    margin-right: 30px;
  }
  
  #header .nav-bar .menu ul li a{
    font-size: 19px;
    opacity: 0.6;
    letter-spacing: 2px;
    padding: 10px 10px;
    border-radius: 5px;
    text-transform: capitalize;
    transition: all 0.5s;
  }
  
  #header .nav-bar .menu ul li a.active{
    opacity: 1;
  }
  
  #header .nav-bar .menu ul li span{
    position: absolute;
    top: 0px;
    color: #d43242;
    font-size: 75px;
  }
  
  #header .nav-bar .menu ul li a:hover{
    opacity: 1;
  }
  .meet_team p{
    position: absolute;
    top: 20%;
     left: 35%;
     font-size: 45px;
     font-weight: 600;
     color: orange;
  }
  .meet_team h4{
    position: absolute;
    top: 30%;
     left: 20%;
     font-size: 20px;
     color: white;
  }
  .team_grid{
    position: absolute;
    top: 40%;
    left: 5%;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-gap: 15px;
  
  }
  .team_grid .team_member img{
    height: 200px;
    width: 200px;
    margin-left: 50px;
    margin-top: 30px;
  }
  
  .team_grid .team_member{
   
    box-shadow: 0px 0px 5px 5px #787878;
    transition: 0.5s;
  
  }
  .team_grid .team_member:hover{
   
    transform: scale(1.01);
  
  }
  .team_grid .team_member .name{
    font-size: 23px; 
    color: grey;
    text-align: center;
    font-weight: 600;
    margin-top: 5px;
  }
  .team_grid .team_member .intro{
    font-size: 18px; 
    color: white;
    text-align: center;
    margin-top: 10px;
   
  }
  .team_grid .team_member .icons{
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .team_grid .team_member .icons .fb{
    padding: 20px 20px;
    font-size: 18px;
  }
  .team_grid .team_member .icons .twitter{
    padding: 20px 20px;
    font-size: 18px;
  }
  .team_grid .team_member .icons .li{
    padding: 20px 20px;
    font-size: 18px;
  }
  .team_grid .team_member .icons .insta{
    padding: 20px 20px;
    font-size: 18px;
  }
  
  body
  {
    background-color: #26284e;
  }